html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(#000c0b, black);
  font-family: "Open Sans";
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.margin-zero {
  margin: 0;
}

.instructionText1 {
  color: #bdbdbd;
  text-align: center;
}

.white {
  color: white;
}

.bgConsumer {
  background-color: #b0c3d9;
}

.bgIndustrial {
  background-color: #5e98d9;
}

.bgMilSpec {
  background-color: #4b69ff;
}

.bgRestricted {
  background-color: #8847ff;
}

.bgClassified {
  background-color: #d32ee6;
}

.bgCovert {
  background-color: #eb4b4b;
}

#search {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

#floats {
  display: none;
}

#floatsInner {
  position: absolute;
  bottom: 60%;
  transform: translateY(50%);
}

#chooseFloat {
  text-align: center;
  border-radius: 10px;
}

.skinImg {
  margin: 0;
  border-style: outset;
  border-radius: 40px;
  border: 2px solid black;
  width: 90%;
}

.skinImgCon {
  margin: 0;
  padding: 0;
}

.skinImgOutterCon {
  margin-top: 1%;
  margin-bottom: 1%;
}

.skinLabel {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
}

#chooseFloatMsg {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

input {
  text-align: center;
  border-radius: 10px;
  background-color: #bdbdbd;
  font-size: 16pt;
  outline: none;
  border: 2px solid black;
}

.button {
  border-radius: 10px;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 24px;
  border: 3px solid black;
}

#back {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5%;
  border: none;
  background-color: #3eace7;
  font-size: 14pt;
  font-weight: bold;
}

#addFloats {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 21%;
}

#addFloats > button {
  display: none;
}

.floatInput {
  text-align: center;
  border-radius: 10px;
  padding: 0;
  margin: 0.5%;
}

#allSkins {
  position: relative;
  top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#done {
  margin-top: 0;
}

.combo {
  border-radius: 10px;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 24px;
  border: 3px solid black;
  padding: 5px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}