html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(15, 15, 15);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    width: min(9vh, 9vw);
    height: min(9vh, 9vw);
    background-color: rgb(15, 15, 15);
    border: 3px solid rgb(49, 49, 49);
    color: white;
    font-size: min(4vw, 4vh);
    font-weight: bold; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tileCon {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: min(0.4vh, 0.4vw);
    display: flex;
}

.key {
    background-color: rgb(80, 80, 80);
    width: min(8vh, 8vw);
    height: min(8vh, 8vw);
    color: white;
    font-size: min(3vw, 3vh);
    font-weight: bold; 
    border: none;
}

.keyCon {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: min(0.2vh, 0.2vw);
}

.func {
    height: min(8vw, 8vh);
    background-color: rgb(80, 80, 80);
    color: white;
    font-size: min(3vw, 3vh);
    font-weight: bold; 
    border: none;
}

.keyRow {
    display: flex;
    width: fit-content;
}

#container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#keyboard {
    margin-top: min(2vh, 2vw);
}

.correct {
    background-color: rgb(6, 139, 6);
}

.partial {
    background-color: rgb(192, 137, 34);
}

.incorrect {
    background-color: rgb(80, 80, 80);
}

.unusable {
    background-color: rgb(22, 22, 22);
}