---
// Wordle game page
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Wordle</title>
        <meta name="description" content="A recreation of Wordle">

        <link rel="stylesheet" href="/wordle/styles.css">
    </head>

    <body class="bg-gray-900 text-gray-300 min-h-screen flex items-center justify-center">
        <div id="container">
            <div class="boardSpacer"></div>
            <div id="board"></div>
            <div id="keyboard"></div>
            <div class="boardSpacer"></div>
        </div>

        <script src="/wordle/dict5.js" is:inline></script>
        <script src="/wordle/scripts.js" is:inline></script>
    </body>
</html>