#panel {
    display: none;
    background-color: rgb(121, 121, 121);
    padding: 3px;
    position: absolute;
    left: 0;
    top: calc(1.375rem + 1.5vw + 3px);
    border-radius: 3px;
    justify-content: center;
}

#left {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

#left > a:first-child {
    margin-right: 5px;
}


#right {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

#right > a:first-child {
    margin-right: 5px;
}

header {
    display: flex;
    width: 100%;
    background-color: rgb(121, 121, 121);
    justify-content: space-between;
    align-items: center;
}

img {
    display: flex;
    align-self: center;
    justify-self: center;
}

img:hover {
    filter: invert(0.3) brightness(1);
}

#site {
    align-self: center;
    color: black;
    margin: 0 0 5px 0;
}

#site2 {
    text-decoration: none;
    margin: 0;
}