html {
  background-image: linear-gradient(45deg, #3f51b5, #002b1b)
}

#main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5vh;
}

.link {
  color: #579ebf;
}
