body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: radial-gradient(#000c0b, black);
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 44pt;
}

.link {
  color: #bdbdbd;
}

#back {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24pt;
}